@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Outfit, Arial, Helvetica, sans-serif;
    color: #171723;
    font-weight: 300;
    font-size: 18px;
    background-color:#81637f;
    padding: 0;
    margin: 0;
}

p{
    line-height: 1.5em;
}

#hero{
    display: flex;
    height: 100vh;
    background-color:#171723;
}

header{
    width: 95%;
    text-align: center;
    padding: 0 10% 50px;
    margin: auto;
}

#headerimg img{
    border-radius: 50%;
    width:15%;
    min-width: 150px;
    margin: 0 auto;
    border: solid 6px #d67867;
}

#headertxt{
    color: #fab261;
    font-weight: 100;
}

nav{
    background-color: #4f344e;
    width:100%;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position:absolute;
    bottom: 0;
}

nav div{
    margin: 10px 15px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    max-width: 1000px;
    margin:0 auto;
    padding: 70px 0 30px;
    
}

section{
    width: 60%;
}

aside{
    width:35%;
}

article{
    padding-bottom: 50px;
}

h1{
    font-weight: 200;
    font-size: 4em;
    line-height: 1em;
    color:#965065;
    margin:30px 0 -10px;
}

h2{
    margin: 0 0 15px;
}

h3{
    margin:0;
    color:#4f344e;
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 3px;
}


ul, ol{
    margin:0;
    padding: 0;
}

li::marker{
    color:#b696b4;
}

li{
    padding:5px 0 10px;
}


aside ol{
    width:100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
}

aside li{
    background-color: #b696b4;
    list-style: none;
    padding: 8px 15px;
    margin: 0 15px 15px 0;
    border: #4f344e solid 1px;
    border-radius: 20px;
    color: #4f344e;
    font-weight: 500;
}

a{
   color:#965065; 
   text-decoration: none;
   font-weight: 500;
}
a:hover{
    color: #d67867;
}

.bolder{
    font-weight: 700;
}

footer{
    background-color: #4f344e;
    width:100%;
    text-align: center;
    padding: 20px 0;
    border-top: #d67867 solid 3px;
    color: #b696b4;
}

@media screen and (max-width: 768px)  {
    #wrapper{
        width: 90%;
    }
    main{
        display: block;
    }
    section, aside{
        width: 100%;
    }
    h1{
        font-size: 3em;
    }
}

@media screen and (max-width: 378px)  {
    h1{
        font-size: 2em;
        margin-top: 20px;
    }
    #headertxt{
        font-size: 1rem;
    }
}