@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Outfit, Arial, Helvetica, sans-serif;
    color: #171723;
    font-weight: 300;
    font-size: 18px;
    background-color:#81637f;
    padding: 0;
    margin: 0;
}

p, li{
    font-size: 14px;
    line-height: 1.5em;
}

#hero{
    display: flex;
    grid-template-rows: 1fr;
    height: calc(100vh - 35px);
    background-color:#171723;
}

header{
    width: 95%;
    text-align: center;
    padding: 0 10% 50px;
    margin: auto;
}

#headerimg img{
    border-radius: 50%;
    width:15%;
    min-width: 150px;
    margin: 0 auto;
    border: solid 6px #d67867;
}

#headertxt p{
    color: #fab261;
    font-size: 18px;
    font-weight: 100;
}

nav{
    height: 35px;
    background-color: #4f344e;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
    padding: 0 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:80px;
    max-width: 1200px;
    grid-template-rows: 1fr;
    padding: 30px;
    height: calc(100vh - 100px);
    margin: auto;
    align-items: center;
}

h1{
    font-weight: 200;
    font-size: 4em;
    line-height: 1em;
    color:#965065;
    margin:30px 0 -10px;
}

#Bio h1{
    font-weight: 200;
    font-size: 4.5em;
    line-height: 1em;
    color:#4f344e;
    text-align: center;
    margin-bottom: 30px;
}

h2{
    margin: 0 0 15px;
}

h3{
    margin:0;
    color:#4f344e;
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 3px;
}

h4{
    margin:0 0 0 5px;
    font-size: 0.9em;
    font-weight: 500;
    padding-bottom: 3px;
}

#Bio{
    text-align: justify;
}

#sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 0;
    grid-auto-flow: column;
}

ul, ol{
    margin:0;
    padding: 0;
}

#Education li, #Experience li{
    margin: 15px 0px;
    list-style: none;
    border-left: #4f344e solid 3px;
    padding-left: 15px;
}

#skills ol{
    width:100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
    gap:10px;
}

#skills li{
    background-color: #171723;
    list-style: none;
    padding: 4px 12px;
    border: #4f344e solid 1px;
    border-radius: 20px;
    color: #d67867;
    margin: 0;
}

a{
   color:#171723; 
   text-decoration: none;
   font-weight: 500;
}
a:hover{
    color: #4f344e;
    text-decoration: underline;
}

nav a{
   color:#965065;
}
nav a:hover{
    color: #d67867;
}

.icon a:hover{
    text-decoration: none;
}
.bolder{
    font-weight: 700;
}

#contact{
    background-color: #b696b4;
    border: #4f344e 2px solid;
    border-radius: 10px;
    padding: 15px 20px 25px;
    margin-bottom: 40px;
}

#contact-grid{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px 25px;
    align-items: center;
}

#contact-grid .icon{
    width: 20px;
    display: grid;
    align-items: center;
    justify-items:center;
    text-shadow: 0 0 3px #4f344e;
}


footer{
    background-color:#171723;
    text-align: center;
    border-top: #d67867 solid 3px;
    color: #b696b4;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    color:#d67867;
}


#personality-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 15px;
    align-items: center;
}

.score-bar{
    display: flex;
    justify-content: space-between;
    border:#171723 solid 1px;
    background-color: #4f344e;
    border-radius: 10px;
    height: 20px;
    align-items: center;
    padding: 0 7px;
    width: 175px;
    box-sizing: border-box;
}

.score, .grey{
    width: 8px;
    height: 8px;
    background-color: #fab261;
    border-radius: 8px;
}

.grey{
    background-color:#965065;
}

@media screen and (max-width: 1240px)  {
    main{
        max-width: 800px;
        display: block;
        height: auto;
    }
    
    #Bio h1{
        margin-top: 10px;
    }

    #Bio{
        padding-bottom: 50px;
    }

    article{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 800px)  {
    main{
        max-width: 500px;
        display: block;
        height: auto;
    }

    #sections{
        display: block;
    }

    #skills{
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 420px)  {
    
    h1, #Bio h1{
        font-size: 3rem;
    }
    #Bio h1{
        margin-bottom: 20px;
    }
}