body{
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 16px;
    background-color:aliceblue;
    padding: 0;
    margin: 0;
}

p{
    line-height: 1.5em;
}

#hero{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    background-color:black;
}

header{
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    justify-content: center;
}

header div{
    width: 80%;
    text-align: center;
    padding: 0 10%;
}
#headerimg img{
    border-radius: 50%;
    width:20%;
    min-width: 150px;
    margin: 0 auto 20px;
}

nav{
    background-color: #666;
    width:100%;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

nav div{
    margin: 10px 15px;
}

#wrapper{
    background-color: white;
    width: 60%;
    margin:auto;
    padding: 75px 30px;
}


h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 3.5em;
    line-height: 1.5em;
    color:darkolivegreen;
    margin:0 0 -20px;
}

main{
    margin: auto;
    display: flex;
}

section{
    width: 70%;
}

article{
    width:100%;
}

aside{
    width:30%;
}


aside ol{
    width:100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
}

aside li{
    list-style: none;
    padding: 10px 15px;
    margin: 0 15px 15px 0;
    border: #999 solid 1px;
    border-radius: 15px;
}

.cv-section{
    border: solid 1px #999;
    padding: 20px 30px;
    margin: 20px 0px;
    text-align: left;
}

ul li {
    color: darkgreen;
}

a{
   color:crimson; 
}
a:hover{
    color: chocolate;
}