body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-size: 14px;
    background-color: #ccc;
    text-align: center;
    padding: 50px 0px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

#profile-page{
    width: 600px;
    margin: auto;
}

.cv-section{
    border: solid 1px #999;
    padding: 20px 30px;
    margin: 20px 0px;
    text-align: left;
}

.profile-image{
    width:200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

ul li {
    color: darkgreen;
}

a{
   color:crimson; 
}
a:hover{
    color: chocolate;
}